// button style
$default-1: #e6fffb;
$default-2: #b5f5ec;
$default-3: #87e8de;
$default-4: #5cdbd3;
$default-5: #36cfc9;
$default-6: #13c2c2;
$default-7: #08979c;
$default-8: #006d75;
$default-9: #00474f;
$default-10: #002329;
